<div class="login-body">
    <div class="login-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/logo.png" alt="california-layout" />
        </a>
    </div>
</div>

<div style="margin-top: 100px;">
    <div class="ui-g-12 ui-md-12 ui-lg-4"></div>
    <div class="ui-g-12 ui-md-12 ui-lg-4 ui-fluid">
        <div class="card card-w-title">
            <p-panel header="Forgot Password" styleClass="resolution-center">
                <form novalidate [formGroup]="emailConfirmationForm">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <label for="emailAddress">Email Address</label>
                            <input type="text" maxlength="200" pInputText placeholder="Email Address" [ngClass]="!emailConfirmationForm.controls['emailAddress'].valid ? 'required-input' : 'valid-input'" name="emailAddress" id="emailAddress" formControlName="emailAddress">
                        </div>
                        <div class="ui-g-12">
                            <p-toolbar>
                                <div class="ui-toolbar-group-right">
                                </div>
                                <div class="ui-toolbar-group-right">
                                    <button [disabled]="(emailConfirmationForm.invalid)" pButton type="button" class="ui-button-success" (click)="SubmitPassword(emailConfirmationForm)" label="Submit" icon="fa fa-plus"></button>
                                </div>
                            </p-toolbar>
                        </div>
                    </div>
                </form>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-3"></div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-4"></div>
</div>