<div class="layout-footer ui-g-12">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-8 footer-left">
            <h3>{{globalSetting?.name}}</h3>
            <p>ADDRESS: {{globalSetting?.address}}. CONTACT: {{globalSetting?.contactNumber}}, {{globalSetting?.email}}</p>
        </div>
        <div class="ui-g-12 ui-md-4 footer-right">
            <a href="https://valaprime.com.ng/" target="_blank">
                <!-- <a href="javascript:void(0)" > -->
                <p>Powered by</p> <strong><span>Vala Prime Technologies</span></strong> &copy; Copyright {{year | date : 'yyyy'}}
            </a>

        </div>
    </div>
</div>