<div class="login-body">
  <div class="login-topbar">
      <a href="#" class="logo">
          <img *ngIf="topImage" src="data:image/png;base64,{{topImage}}" alt="california-layout" />
          <img *ngIf="!topImage" src="assets/layout/images/logo.png" alt="california-layout" />
      </a>
  </div>

  <img class="login-image" src="assets/layout/images/image-access.png" alt="california-layout" />

  <div class="login-panel p-fluid">
      <div class="p-grid">
        <img *ngIf="image" class="mb-4 img"  src="data:image/png;base64,{{image}}" alt=""
        width="90" height="100">
      <img *ngIf="!image" class="mb-4 img"  src="assets/demo/logo.png" alt="" width="100"
        height="90">
          <span style="color:crimson;">{{message}}</span>
          <form novalidate [formGroup]="loginForm">
              <div class="ui-g">
                  <div class="ui-g-12 ui-md-12 ui-lg-12">
                      <input type="text" maxlength="200" pInputText placeholder="Email Address" [ngClass]="!loginForm.controls['username'].valid ? 'required-input' : 'valid-input'" name="username" id="username" formControlName="username">
                  </div>
                  <div class="ui-g-12 ui-md-12 ui-lg-12">
                      <input type="password" maxlength="50" pInputText placeholder="Password" [ngClass]="!loginForm.controls['password'].valid ? 'required-input' : 'valid-input'" name="password" id="password" formControlName="password">
                  </div>

              </div>
          </form>
          <div class="ui-toolbar-group-left">
          </div>
          <div class="ui-toolbar-group-right">
              <a routerLink="/auth/forgot-password">Forgot Password</a>
          </div>
          <div class="ui-g-12">
              <div class="ui-toolbar-group-right">
                  <button [disabled]="(loginForm.invalid)" pButton type="button" (click)="login(loginForm)" label="Submit"></button>
              </div>
          </div>

      </div>

  </div>

</div>