 <div class="dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-3">
            <div class="overview-box monthly-sales">
                <div class="overview-title"><strong>TOTAL NUMBER OF CANDIDATES REGISTERED</strong></div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>0</strong>
                </div>
                <div class="overview-ratios">Total number of Candidates registered but not paid Application fee</div>
                <img src="assets/layout/images/icon-sales.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">
            <div class="overview-box monthly-views">
                <div class="overview-title"> <strong>TOTAL NUMBER OF CANDIDATES APPLIED</strong>
                    <i class="fa fa-arrow-circle-down"></i>
                </div>
                <div class="overview-numbers">
                    <strong>0</strong>
                </div>
                <div class="overview-ratios">Total number of Candidates paid for application fee</div>
                <img src="assets/layout/images/icon-views.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">
            <div class="overview-box monthly-users">
                <div class="overview-title"><strong>TOTAL NUMBER OF CANDIDATES ADMITTED</strong>
                    <i class="fa fa-arrow-circle-up"></i>
                </div>
                <div class="overview-numbers">
                    <strong>0</strong>
                </div>
                <div class="overview-ratios">Total number of Candidates admitted into various faculties </div>
                <img src="assets/layout/images/icon-users.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-3">
            <div class="overview-box monthly-sales">
                <div class="overview-title"><strong>TOTAL NUMBER OF ACTIVE STUDENTS</strong></div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>0</strong>
                </div>
                <div class="overview-ratios">Total Number of active Students</div>
                <img src="assets/layout/images/icon-sales.png" alt="california-layout" />
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/school.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">School</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/graduated.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Programme</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"> <img src="assets/layout/images/teaching.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Course</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/schedule.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Schedule</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/graduationplan.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Graduation Plan</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/admission.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Admission</div>
            </div>
        </div>


        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/grade.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Grading</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/bunk.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Hostel</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"></a> <img src="assets/layout/images/checklist.png" alt="california-layout"
                    class="micon" />
                <div class="stats-title">Assessment</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/student.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">New Student</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/clock.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Session</div>
            </div>
        </div>
        <div class="ui-g-6 ui-md-4 ui-lg-2">
            <div class="stats">
                <div class="stats-icon">
                </div>
                <a href="javascript:void(0)"><img src="assets/layout/images/inbox.png" alt="california-layout"
                        class="micon" /></a>
                <div class="stats-title">Inbox</div>
            </div>
        </div>

        <p-panel header="Events" styleClass="schedule">
            <p-fullCalendar [events]="events" [options]="fullcalendarOptions"></p-fullCalendar>
        </p-panel>

